# Ignore all cache directories
**/*[Cc]ache*/
**/*[Tt]emp/
**/Local Storage/
**/Session Storage/
**/History/
# Ignore all telemetry directories
**/*telemetry*/

# Ignore not interesting files
**/jwekke-ai-cli/
**/Code - OSS/
**/Proton*/
**/mozilla/
**/mpv/*
!/mpv/mpv.conf
**/Electron/
**/htop/
**/autostart/
**/yay/
**/discord/
**/qBittorrent/
**/Slack/
**/cachyos/
**/nextjs-nodejs/
**/micro/
**/pulse/
**/gh/
htoprc
QtProject.conf
filedialog.conf
cachyos-hello.json
pavucontrol.ini
**/dconf/

# Ignore all log files
**/[Ll]ogs/
*.log

# Ignore common temporary files
*.tmp
*.swp
*.swo

# Ignore common backup files
*~
*.bak
*.backup

# Ignore common system and application logs
*.log.*
*.log
