@import "/home/jwekke/.config/theme.css";

* {
    border: none;
    border-radius: 0;
    font-family: "Atkinson Hyperlegible Next";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#window {
    margin-left: 10px;
    font-size: 10px;
}

#tray {
    box-shadow: none;
}

#tray * {
    box-shadow: none;
    margin: 0 0;
    font-size: 11px;
    font-family: "AtkynsonMono Nerd Font";
    border: none;
    background: transparent;
}

#tray menu {
    margin: 0;
    border: 1px solid @border; /* #bb9af7; */
    background: @base;
}

#tray menu * {
    padding-left: 0;
    padding-right: 0;
}

#tray menu menuitem {
    border: none;
    background: @base; /* Tokyo Night Storm selection background */
}

#tray menu menuitem:hover {
    background: @cyan; /* #414868; Tokyo Night Storm cyan */
}

#workspaces {
    font-family: "AtkynsonMono Nerd Font";
    background-color: @base; /*#24283b;*/
    margin: 5px;
    margin-left: 10px;
    border-radius: 5px;
}

#workspaces button {
    padding: 5px 10px;
    margin: 0 5px;
    color: #c0caf5;
    border-radius: 5px;
    background-color: @base;
    border: 1px solid @border2; /*#565f89*/
}
#workspaces button.active {
    color: @border;
    border-color: @border;
    background-color: @base;
}
#workspaces button.active:hover {
    color: @border;
    border-color: @border;
    background-color: @base;
}
#workspaces button.focused {
    color: @border;
    background-color: @base;
    border-color: @border;
}
#workspaces button:hover {
    background-color: @base;
    border-color: @border2;
    color: @border;
}

.modules-right * {
    font-family: "AtkynsonMono Nerd Font";
    margin: 5px 0px;
    padding: 5px 10px;
}

#custom-date,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature {
    background-color: @base;
}

#custom-power {
    margin-left: 10px;
    margin-right: 10px;
}

#custom-date {
    color: @border;
}

#clock {
    color: @border;
    border-radius: 0px 5px 5px 0px;
}

#pulseaudio {
    border-radius: 5px 0px 0px 5px;
    color: @border;
}
