* {
    border: none;
    border-radius: 0;
    font-family: "Atkinson Hyperlegible Next";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#window {
    margin-left: 10px;
    font-size: 10px;
}

#tray * {
    margin: 0 0;
    font-size: 12px;
    font-family: "AtkynsonMono Nerd Font";
}

#tray menu {
    margin: 0;
    border: 1px solid #bb9af7;
    background: #24283b; /* Tokyo Night Storm background */
}

#tray menu menuitem {
    background: #24283b; /* Tokyo Night Storm selection background */
}

#tray menu menuitem:hover {
    background: #414868; /* Tokyo Night Storm cyan */
}

#workspaces {
    font-family: "AtkynsonMono Nerd Font";
    background-color: #24283b;
    margin: 5px;
    margin-left: 10px;
    border-radius: 5px;
}

#workspaces button {
    padding: 5px 10px;
    margin: 0 5px;
    color: #c0caf5;
    border-radius: 5px;
    background-color: #24283b;
    border: 1px solid #565f89;
}
#workspaces button.active {
    color: #bb9af7;
    border-color: #bb9af7;
    background-color: #24283b;
}
#workspaces button.active:hover {
    color: #bb9af7;
    border-color: #bb9af7;
    background-color: #24283b;
}
#workspaces button.focused {
    color: #bb9af7;
    background-color: #24283b;
    border-color: #bb9af7;
}
#workspaces button:hover {
    background-color: #24283b;
    border-color: #565f89;
    color: #bb9af7;
}

.modules-right * {
    font-family: "AtkynsonMono Nerd Font";
    margin: 5px 0px;
    padding: 5px 10px;
}

#custom-date,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature {
    background-color: #24283b;
}

#custom-power {
    margin-left: 10px;
    margin-right: 10px;
}

#custom-date {
    color: #bb9af7;
}

#clock {
    color: #bb9af7;
    border-radius: 0px 5px 5px 0px;
}

#pulseaudio {
    border-radius: 5px 0px 0px 5px;
    color: #bb9af7;
}
