:root {
    --border-color: #414868;
    --border-color-active: #414868;

    --bg-color: #24283b;
    --bg-color-hover: #414868;

    --border-radius: 5px;
    --border-size: 2px;
    --border-style: solid;

    --text-color: #c0caf5;

    --window-padding: 2px;
}

.window {
}

.monitor {
}

.workspace {
}

.client {
}

.client-image {
}

.launcher {
}

.launcher-input {
}

.launcher-results {
}

.launcher-item {
}

.launcher-exec {
}

.launcher-key {
}

.launcher-plugins {
}

.launcher-plugin {
}
