:root {
    --border-color: #414868;
    --border-color-active: #414868;

    --bg-color: #24283b;
    --bg-color-hover: #414868;

    --border-radius: 5px;
    --border-size: 2px;
    --border-style: solid;

    --text-color: #c0caf5;

    --window-padding: 2px;
}

.window {
    margin-top: 150px;
    border: 1px solid #bb9af7;
    border-radius: var(--border-radius);
}

.monitor {
}

.workspace {
    font-size: 22px;
    font-family: "AtkynsonMono Nerd Font";
}

.client {
    font-size: 14px;
    font-family: "AtkynsonMono Nerd Font";
}

.client-image {
}

.launcher {
    font-size: 16px;
}

.launcher-input {
    outline-color: #bb9af7;
    outline-width: 1px;
}

.launcher-results {
    font-size: 12px;
}

.launcher-item {
    font-size: 12px;
}

.launcher-exec {
    font-size: 12px;
    font-family: "AtkynsonMono Nerd Font";
}

.launcher-key {
    font-size: 12px;
    font-family: "AtkynsonMono Nerd Font";
}

.launcher-plugins {
}

.launcher-plugin {
    font-size: 12px;
    font-family: "AtkynsonMono Nerd Font";
}
